


.container{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.setTag{
    padding: 15px;
}
.setTag #text {
    height: 20vh;
    font-size: 1.5vw;
    width: 609px;
}
